
<div class="row m-2">
  <div class="col col-2 bg-slate-400">
      <p class="m-3"> Function Name</p>
      <p class="m-3"> Function Name</p>
      <p class="m-3"> Function Name</p>
      <p class="m-3"> Function Name</p>
      <p class="m-3"> Function Name</p>
      <button
      class="btn btn-primary m-4 py-1 px-3"
      (click)="handleFunctionDetails()"> + New Function</button>
  </div>
  <div class="col col-10 ">
      <div *ngIf="functionDetails" class="row mx-3 my-4">
          <form>
              <div class="row details">
                  <div class="col-4 flex">
                      <label for="functionName" >Function Name </label>
                      <input type="text" [(ngModel)]="functionName" style="width: 60%;" class="form-control" name="functionName"> 
                  </div>
  
                  <div class="col-4">
                      <label for="functionType">Function Type : </label>
                      <select name="functionType" [(ngModel)]="functionType" name="functionType" >
                          <option selected disabled>Select Type</option>
                          <option value="validation">Validation</option>
                          <option value="businessRule">Business Rule</option>
                      </select>
                  </div>
  
                  <div class="col-4">
                      <label for="object">Object Type : </label>
                      <select (change)="onChange($event)" [(ngModel)]="objectType" name="object">
                          <option disabled selected>Select Object</option>
                          <option value="invoice">Invoice</option>
                          <option value="prr">PRR</option>
                          <option value="por">POR</option>
                          <option value="vcr">VCR</option>
                          <option value="vrr">VRR</option>
                          <option value="contract">Contract</option>
                      </select>
                  </div>
              </div>
          </form>
      </div>

      <!-- Text Editor -->
      <ng-container>
        <div id="textEditor"></div>
      </ng-container> 
      <!-- ----------------------------------------------------------------------------------- -->

  </div>
</div>

