*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

.textEditor{
    height: 600px;
    width: 1250px;
}

select{
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}